/* Tested and linked */

header {
    text-align: center;
    background-color: #0077b6;
    color: #fff;
}

/* Search area */
.search {
    float:left;
    width: 30vw;
    height: 86vh;
    background-color: #caf0f8;
}

#search-header {
    font-weight: bold;
}

.fa-search {
    color: white;
}

#city-buttons button {
    width: 100%;
    text-align: left;
}

/* Results area */
.results {
    float:left;
    width: 65vw;
}

#current-weather {
    border: 1px solid #03045e;
}

/* Five Day Columns */
.daily {
    width: 9.5vw;
}

.card {
    background-color: #0096c7;
    color: #fff;
}

.fiveDay h6 {
    font-size: .8em;
}

.fiveDay p {
    font-size: .7em;
};
